<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lupa Password</title>
  <link rel="stylesheet" href="/css/sandi.css">
</head>
<body>

  <div class="reset-password-container">
    <h2>Atur Ulang Kata Sandi <span id="role"><%= role %></span> SMP IT Al Wasliyah 20 Medan</h2>
    <p>Nama: <span id="name"><%= name %></span></p>
    <p>Email: <span id="email"><%= email %></span></p>
  
    <form id="resetPasswordForm">
      <label for="newPassword">Kata Sandi Baru</label>
      <input type="password" id="newPassword" name="newPassword" required>
  
      <label for="confirmPassword">Konfirmasi Sandi Baru</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>
  
      <button type="submit">Atur Ulang Kata Sandi</button>
    </form>
  </div>  

  <script src="/js/sandi.js"></script>

</body>
</html>